<div id="<%= dom_id survivor %>">
  <p>
    <strong>Name:</strong>
    <%= survivor.age %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= survivor.age %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= survivor.gender %>
  </p>

  <p>
    <strong>Last location:</strong>
    <%= survivor.last_location %>
  </p>

</div>
